# Gradle
.gradle/
build/
**/build/

# Local
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws

# Output files
*.apk
*.ap_
*.aab
captures/
outputs/

# Keystore
*.keystore
*.jks

# macOS
.DS_Store

# Logs
*.log

# Firebase config (you can add manually when needed)
google-services.json

# Kotlin cache
.kotlinc/

# Crashlytics
crashlytics-build.properties
